@{
  Layout = "~/Views/Shared/_Layout2.cshtml";
  ViewData["Title"] = "Create Pizza";
}

@model PizzaBox.Client.Models.PizzaModel

<form class="form-group" action="/pizza/create" method="post">
  @Html.AntiForgeryToken()
  @try
  {
    @foreach(var item in @Model.PizzaList)
    {
      <label class = "btn btn-primary">@item
        @Html.RadioButtonFor(pm => pm.pizzaType, @item)
      </label>
    }

    <br>

    @foreach (var item in @Model.SizeList)
    {
      <label class = "btn btn-primary">@item
        @Html.RadioButtonFor(pm => pm.size, @item)
      </label>
    } 
  }
  catch(Exception) {}
  finally
  {
    <br>  
    
    <button class="btn btn-primary" type="submit">Create</button>
  }


  

  
</form>